@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: quicksand;}
ul,ol,li{
    list-style: none;
}
a{
    text-decoration: none;
}
section{
    width: 100%;
    /* 섹션이 브라우저의 너비 전체를 쓰겠다 */
    padding: 180px 0 150px;
    /* 섹션의 공간에 패딩을 부여하는데 위 180 좌우0 아래 150 */
}
section .inner{
    width: 1180px;
    /* 12컬럼 그리드를 사용하기 위해 1180로 한다 */
    margin: 0 auto;
    /* inner를 가운데 배치하도록  함, 바깥여백 중 위아래는 주지않고 좌우로는 가운데 배치할 수 있도록 auto */
}
section .inner h1{
    font: bold 24px/1 'arial';
    /* 굵게 24px 높이1 폰트 이름 */
    color: #555;
    /* 폰트 색  */
    margin-bottom: 50px;
    /* 아래여백 h1과 wrap */
    text-align: center;
    /* 글자 가운데 정렬 */
}
section .inner .wrap article{
    width: 280px;
    /* 12컬럼 그리드에서 4다능ㄴ 280 */
    height: 200px;
    float: left;
    /* 블록요소 좌우배치 */
    margin-right: 20px;
    /* 블록요소 간격 */
    position: relative;
    overflow: hidden;
    /* article영역에서 벗어나지 않도록 */
}
section .inner .wrap article:last-child{
    margin-right: 0;
}
section .inner .wrap::after{
    content: '';
    display: block;
    clear: both;
    /* 플롯해제, after 무조건 삽입 */
}
section .inner .wrap article img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* 이미지를 아티클 안에 꽉채우기 */
    transition: all 1s;
}
section .inner .wrap article:hover img{
    transform: scale(1.2);
}
section .inner .wrap article p{
    font: 20px/1 'arial';
    color: #fff;
    position: absolute;
    z-index: 3;
    opacity: 0;
    transition: 0.5s;
}
section .inner .wrap article:hover p{
    opacity: 1;
}
section .inner .wrap article::after{
    content: '';
    /* 가상선택자를 쓰면 content  써야함 */
    display: block;
    /* 가상선택자의 너비, 높이 지정 */
    background-color: rgba(78, 133, 103, 0.8);
    width: 100%;
    height: 100%;
    /* article과 갗은 너비, 높이의 가상선택자 마스크를 만듦 */ 
    position:  absolute;
    top: 0;
    left: 0;
    /* after로 잡은 가상선택자 마스크를 겹치기 위해  */
    transition: all 0.5s;
    /* 호버시에 마스크가 이동하는데 트랜지션을 걸어줌 */
}
section .inner .wrap article:nth-of-type(1)::after{
    top: 0;
    left: 280px;
}
section .inner .wrap article:nth-of-type(1):hover:after{
    top: 0;
    left: -230px;
    /* article 첫번째 호버할 때 그때 after 
    left:0이면 아티클 위에 있고, 음수를 주어야 왼쪽으로 가기 때문에 기존 280 양수를 준 상태에서 음수를 줌*/
}
section .inner .wrap article:nth-of-type(1) p{
    /* p태그 전체에 포지션을 부여하였기에 좌표설정 가능 */
    top: 45%;
    left: -6%;
    transform: rotate(90deg);
}


section .inner .wrap article:nth-of-type(2)::after{
    top: -280px;
    left: 0px;
}
section .inner .wrap article:nth-of-type(2):hover:after{
    top: 150px;
    left: 0px;
}
section .inner .wrap article:nth-of-type(2) p{
    /* p태그 전체에 포지션을 부여하였기에 좌표설정 가능 */
    bottom: 7%;
    left: 35%;
}


section .inner .wrap article:nth-of-type(3)::after{
    top: 280px;
    left: 0px;
}
section .inner .wrap article:nth-of-type(3):hover:after{
    top: -150px;
    left: 0px;
}
section .inner .wrap article:nth-of-type(3) p{
    /* p태그 전체에 포지션을 부여하였기에 좌표설정 가능 */
    top: 7%;
    left: 35%;
}


section .inner .wrap article:nth-of-type(4)::after{
    top: 0;
    left: -280px;
}
section .inner .wrap article:nth-of-type(4):hover:after{
    top: 0;
    left: 230px;
}
section .inner .wrap article:nth-of-type(4) p{
    /* p태그 전체에 포지션을 부여하였기에 좌표설정 가능 */
    bottom: 45%;
    right: -2%;
    transform: rotate(-90deg);
}